@model KiemTra_NguyenHuuLuan.Models.SinhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
           Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Hinh)" width="95" title="cover" />
        </dd>

        <dt>
            Mã ngành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNganh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
